<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.civihelper">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CiviHelper">
        <activity
            android:name=".login_activity"
            android:exported="false" />
        <activity
            android:name=".splash_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".form5"
            android:exported="false" />
        <activity
            android:name=".form4"
            android:exported="false" />
        <activity
            android:name=".form3"
            android:exported="false" />
        <activity
            android:name=".form2"
            android:exported="false" />
        <activity
            android:name=".form"
            android:exported="true" />
        <activity
            android:name=".problem"
            android:exported="false" />
        <activity
            android:name=".message_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
    </application>

</manifest>